# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
AshesofVelsingrad/mapAssets/** filter=lfs diff=lfs merge=lfs -text
AshesofVelsingrad/scenes/Level/Openwold/** filter=lfs diff=lfs merge=lfs -text
AshesofVelsingrad/scenes/Level/OpenWorld.tscn filter=lfs diff=lfs merge=lfs -text
